[2015-01-23 19:58] untergeek opened #5 "Cleanup rabbitmq output plugin"
(Migrated from https://github.com/elasticsearch/logstash/issues/1610)

PR #1607 had me review the plugin to discover some unused code at https://github.com/elasticsearch/logstash/blob/master/lib/logstash/outputs/rabbitmq/bunny.rb#L103-L108 and https://github.com/elasticsearch/logstash/blob/master/lib/logstash/outputs/rabbitmq/march_hare.rb#L103-L108

- I don't really like the coding style of the r

[2015-03-23 20:19] magnusbaeck opened #6 "Setting message properties when publishing"
It should be possible to set arbitrary message properties when publishing messages via a rabbitmq output. Some properties (like timestamp and possibly content-type) should perhaps be set by default while others should always be optional. See a [recent StackOverflow question](http://stackoverflow.com/questions/29215166/how-to-set-content-type-with-logstash-rabbitmq-output) for an example of why thi

[2015-05-14 02:44] iemem15 opened #9 "Duplicating connections when rabbitmq stop"
We have several issues when rabbitmq crashes or stops or there's a network disconnection. the plugin tries to reconnect every 10's but every time it tries to reconnects it duplicates the ESTABLISHED connections per output, so if there is 1 output in 1 hour are like 360 ESTABLISHED connections, but also never sends again messages to the exchanges
We've found the "automatic_recovery" parameter, it's

[2015-06-06 17:26] suyograo opened #10 "RabbitMQ connection error: MarchHare::ChannelAlreadyClosed causes an infinite opening of connections in RabbitMQ"
From @DKribl: https://github.com/elastic/logstash/issues/3360

-------

Hey,

I get following error (infrequent) while shipping logs to RabbitMQ:

[code]

For every reconnect, there is a new channel and connection being created. So after a few minutes there are tons of connections opened in RabbitMQ. At this point, there is no data coming into RMQ anymore. I have to kill the process of the shipper

[2015-06-09 15:47] parabolic commented on #10
It's happening to me as well here's the report,

**System**
[code]
**Logstash_version**
[code]
**Conf**
[code]
**Kernel**
[code]
After restarting the rabbitmq server logstash is not able to reconect to rabbitmq and it needs to be restarted. I get the following error in the logs. And I see a lot of connects from that ip in the rabbitmq server.
** Logstash log **
[code]
**Rabbitmq server log**
[code

[2015-06-17 13:12] ssc- commented on #10
I had the same problems. The following change fixed the problem for me: 612a6d71193e789b73eac8d6c0114b74b25745c0.

It's more or less the first time I had to patch some ruby code, but it definitely looks like whenever a reconnect happened, a new connection was opened without being assigned to the class member @x.

### Testing/Demo (on FreeBSD):

##### Normal behaviour
[code]

##### After we drop th

[2015-06-18 20:11] dforste commented on #10
@ssc is there a reason you do not have a PR for your changes. I am having the same issue.

[2015-06-19 07:48] parabolic commented on #10
@ssc-  Thanks we've already applied the fix to one of our production machines works good fso far I am going to patch the file manually until a new version with a fix gets out.
Thanks!!

[2015-06-19 18:54] dforste commented on #10
@ssc Thanks for creating https://github.com/logstash-plugins/logstash-output-rabbitmq/pull/12
I am pretty sure they will want a https://www.elastic.co/contributor-agreement signed if you haven't already.

[2015-06-19 19:16] ssc- commented on #10
@dforste Thanks for the hint, just signed the CLA.

[2015-06-22 09:37] DKribl commented on #10
@ssc- I applied your fix, hopefully it will work now. I'll give a quick feedback after testing.

[2015-06-30 05:41] DKribl commented on #10
Everything works fine now!
Thanks :+1:

[2015-06-30 20:29] seang-es opened #13 "Possible regression bug on reconnect after RabbitMQ node is disconnected"
We have logstash connect to a load-balancer host that proxies to a pool of backend RabbitMQ hosts.

When we disable one of the backend hosts at the load-balancer, logstash 1.5.0 and logstash 1.5.1 do not reconnect, if they were connected to that post.

If we try same setup with logsatsh 1.3.3 it is able to reconnect.

This is our output block:
output {
rabbitmq {
host => "$LOADBALANCER"
port => "$

[2015-07-15 21:21] andrewvc commented on #13
This looks like it may actually be connected to #12 . I'm going to try and get a fix for that out soon, I think it should fix this issue. It looks like the failure to reset the `@x` instance var on exception is the root cause here.

[2015-07-16 06:26] Fogetti opened #14 "Implement a blocked listener and write warning messages to log"
I have run into a strange thing. Correct me if I am wrong, you can also immediately close this issue in that case.

So I was sending messages to RabbitMQ with the plugin, but RabbitMQ stopped accepting messages when it was running out of disk space. From that point my whole pipeline got stuck without any apparent reason. I spent a whole day with debugging until I found out that RabbitMQ was the cu

[2015-07-16 13:38] andrewvc opened #15 "Remove hot_bunnies file."
This doesn't seem to do anything, but double check

[2015-07-16 13:41] andrewvc commented on #14
@Fogetti sorry to hear about these issues, I'm giving the rabbitmq plugin some TLC over the next week, and I hope to be able to address issues like this. I've got some higher priority bugs I'm tackling right now, but if you could submit a PR that'd be great. If not, I'll try and get around to it ASAP.

[2015-07-16 13:46] andrewvc commented on #5
@untergeek @colinsurprenant I'm curious what your thoughts are as far as removing support for Bunny. Given that most users are on Jruby, and colin's current java PoC, it seems to me that it may make sense to simplify the work here by supporting MarchHare only.

[2015-07-16 13:47] ssc- opened #16 "Drop "if @connected.get" from "publish_serialized""
I'm wondering why connection is checked explicitly here. Messages will be lost without any retry. If we would wait for the exception, reconnect and retry would be triggered.

See:
[code]
https://github.com/logstash-plugins/logstash-output-rabbitmq/blob/4fb5bcabe36a10864315d9807722cdae3e91588c/lib/logstash/outputs/rabbitmq/march_hare.rb#L37-44

[2015-07-16 17:38] andrewvc commented on #16
@ssc- I'm essentially going to rewrite this module today. Good sighting, I'll be sure to fix this behavior.

[2015-07-16 17:41] andrewvc commented on #13
@seang-es I've just published a new version of this plugin 1.0.1, can you see if that helps?

I'm also going to do some significant rework of this gem over the next week.

[2015-07-16 18:02] jordansissel commented on #16
@michaelklishin has maintained this for a long time, and may be a good person to ask about things if you have questions about the rabbitmq stuff. <3

[2015-07-17 06:17] Fogetti commented on #14
Hi Andrew, thank you for the quick response!

I am very bad at ruby. A first grader must be better than me. :D And I have never developed any plugins for logstash, but I will take a look at it and see how far I can get. For this reason I cannot promise a PR. But we will see.

[2015-07-17 13:44] michaelklishin commented on #16
@ssc- re-trying has always been the plan but various contributors (including myself) haven't gotten around to finish it.

@andrewvc what are the goals with the rewrite? This version of the plugin is a good couple of years old but most of the decisions in it are still relevant.

[2015-07-17 14:49] andrewvc commented on #16
@michaelklishin my basic goal is to refactor the method structure and control flow to make the module more testable. I've got a WIP PR open on #19 . I'd greatly appreciate your review / input!

[2015-07-17 15:07] andrewvc commented on #16
@ssc- I've changed the behavior in #19 to always retry.

[2015-07-17 15:44] andrewvc commented on #14
@Fogetti in that case, don't worry about it. I'll make this part of my work on #5 . Thanks for the feedback however, this will be a great addition to the plugin :)

[2015-07-27 17:47] andrewvc commented on #5
I'm going to delay releasing this till we have a new rabbitmq-input out with an upgraded march_hare, since the two gems will be incompatible using different versions.

[2015-08-04 21:44] #15 closed

[2015-08-11 13:54] andrewvc commented on #16
Now in master!

[2015-08-11 13:54] #16 closed

[2015-08-11 13:54] andrewvc commented on #14
Merged a while ago into master and released!

[2015-08-11 13:54] #14 closed

[2015-08-11 13:55] andrewvc commented on #6
@magnusbaeck this is a great suggestion, I will try and find some time for it next week

[2015-08-11 13:56] andrewvc commented on #5
This was released a while ago :)

[2015-08-11 13:56] #5 closed

[2015-08-11 13:57] andrewvc commented on #9
@iemem15 is this still a problem with the newest version of this plugin? We've completely refactored it and we now use a new version of march_hare that uses the Java client's recovery directly.

[2015-08-11 13:57] andrewvc commented on #13
@seang-es since I haven't heard back from you I'm going to close this ticket. If you're still having issues please re-open this ticket or open a new issue.

[2015-08-11 13:57] #13 closed

[2015-08-15 03:01] rudijs commented on #9
@andrewvc Yes I'm seeing this using Logstash 1.5.2

[code]

What led me to this issue is when RabbitMQ restarts, logstash was not reconnecting successfully.

There is a non stream stream of new connections made, I've restarted logstash after about 20 existing new connections but I assume they'll continue to grow as others have reported.

With the --debug flag here some error output:

[code]

What'

[2015-08-15 03:03] andrewvc commented on #9
Ouch. This is not good, thanks for reporting the issue. I'm going to make
this patch my top priority monday

On Friday, August 14, 2015, Rudi Starcevic <notifications@github.com> wrote:

[2015-08-15 03:05] rudijs commented on #9
@andrewvc Thanks Andrew.

Let me know if I can help out with testing - I don't think I can help with patching the code, but for testing stuff out I'm keen.

Cheers.

[2015-08-17 17:10] andrewvc commented on #9
@rudijs @iemem15 I'm realizing now that you guys are likely using an old version of this plugin. It's been mostly rewritten and is now at version '1.1.0' . The new version has improved reconnection logic. Can you guys try upgrading the plugin via `bin/plugin update logstash-output-rabbitmq` and report back?

Sorry I missed that detail this weekend, but I believe that should clear up any issues.

[2015-08-17 17:11] andrewvc commented on #9
@rudijs @iemem15 as a note, if you're using the `logstash-rabbitmq-input` plugin you'll need to upgrade that simultaneously as they both depend on a newer version of the `march_hare` rabbitmq gem.

[2015-08-17 18:33] iemem15 commented on #9
I have uodated i will test it.

Thanks.
El ago 17, 2015 12:10 PM, "Andrew Cholakian" <notifications@github.com>
escribió:

[2015-08-18 01:41] rudijs commented on #9
@andrewvc

I'm using Docker with the offical image version logstash:1.5.2.

There's an SSL issue with v1.5.3 that currently prevents me from using that version.

That issue is here: https://github.com/elastic/logstash/issues/3657

I'm using both logstash-input-rabbitmq and logstash-output-rabbitmq.

Updating those on 1.5.2 gets me version 1.0.1, not 1.1.0 that you've referred too.

It is 1.1.0 tha

[2015-08-18 02:04] andrewvc commented on #9
@rudijs apologies, the instructions I gave won't work on 1.5.2 because both the input and output gems share march_hare versions. The dependency manager requires these plugins to be upgraded simultaneously.

Try executing `bin/plugin update logstash-output-rabbitmq logstash-input-rabbitmq` .

I tested this locally against 1.5.2, it should fix your issues.

[2015-08-18 02:05] andrewvc commented on #9
@iemem15 the advice I gave above also should apply to you, please run `bin/plugin update logstash-output-rabbitmq logstash-input-rabbitmq`, you must upgrade both plugins simultaneously.

[2015-08-18 03:09] rudijs commented on #9
@andrewvc OK great, the updated instructions work sweet.

[code]

I'll report my findings shortly...

[2015-08-18 04:21] rudijs commented on #9
OK .. here's my findings .. overall pretty good but might not yet be ideal.

I'm using both logstash-output-rabbitmq and logstash-input-rabbitmq.

The docker container names I'm using (from offical Docker images) below are prefixed with 'rsm-'.

Note: please excuse the low quality screen caps, not sure what's up with my software there.

1) Start Docker logstash:1.5.2

I have: 2 connections, 2 chan

[2015-08-18 13:01] Fogetti commented on #14
Thank you Andrew! Sorry for the late reply. Great to have such committed bunch of developers. I will try the changes later. :)

[2015-08-18 17:39] andrewvc commented on #9
@iemem15 thanks for the research. That is definitely not acceptable behavior wrt connection leaking. I'll take a look at this today.

[2015-08-18 18:05] andrewvc commented on #9
@iemem15 @rudijs I've pushed a fix up as a PR. You can test this out on your local logstash by running ( in the logstash root directory )

[code]

[2015-08-19 03:09] rudijs commented on #9
@andrewvc

Got an install error, permissions from the git repo:

1)
[code]

2)
[code]

3)
So I tried to git clone command manually without the --quiet flag

[code]

[2015-08-19 16:07] andrewvc commented on #9
@iemem15 that's my bad, that's my private URL with push/pull try subbing out the git url for 'https://github.com/andrewvc/logstash-output-rabbitmq.git'

Hoping to issue a new release soon once this gets through code review

[2015-08-20 09:38] rudijs commented on #9
@andrewvc Yep that works all good now.

Running the updates are described here, then stop/starting RabbitMQ and I see 2 connections only always (input and output in my use case).

Looking forward to seeing this released as soon as the team is able.

Many thanks for your attention and follow up on this one.

Cheers!

[2015-08-20 20:45] andrewvc commented on #9
Fixed and released as 1.1.1 . Thanks @rudijs and @iemem15 !

[2015-08-20 20:45] #9 closed

[2015-08-20 20:45] andrewvc commented on #10
This should be fixed in the 1.1.1 release. If you encounter any new issues please reopen this issue.

[2015-08-20 20:45] #10 closed

[2015-09-01 08:33] rudijs commented on #9
@andrewvc Hey Andrew,

Just of note .. I upgraded from Docker Logstash 1.5.2 to 1.5.4-1 but the updated rabbitmq plugins still need a manual update.

[code]

[code]

No big issue, just that my configuration management scripts need to continue to apply the update plugin update.

Hopefully it'll all be bundled up to date with logstash v1.5.5

Cheers.

[2015-09-01 14:38] andrewvc commented on #9
@rudijs I'll coordinate with @suyograo to make sure this makes it into our nextrelease

[2015-09-23 20:20] GlenRSmith opened #25 "Round-robin through a list of keys"
I'd like to see the (routing) key property be allowed to be a list, and have the messages sent round-robin with the values in the list.

I propose this to provide a fairly simple solution to a fairly common problem: a RabbitMQ queue represents a single Erlang process, which is a single thread, only serviced by a single processor core.

With this solution in place, the logstash instance with a Rabb

[2015-09-25 09:24] rudijs commented on #9
@andrewvc Hi Andrew,

I think still related to this issue .. today doing an install of Docker Logstash 1.5.2 and then upgrading the RabbitMQ plugins I get this error:

[code]

I'm still using 1.5.2 until 1.5.5 gets released.

Anyways this error borks the plugin upgrade completely (and halts my chef-client run - ouch).

If I go manually into the runing logstash container I can run the plugin update

[2015-10-03 19:05] michaelklishin opened #27 "Upgrade to March Hare 2.13.0"
[Release notes](http://blog.rubyrabbitmq.info/blog/2015/10/03/march-hare-2-dot-13-dot-0-is-released/).

[2015-10-14 19:43] stwomack opened #28 ":message=>”The error reported is: \n ”"
I was getting this error when I was using the rabbitmq input and output plugins and NOT setting the vhost setting when required. The system account I'm using is tied to its own vhost, and I needed to provide that setting to the plugin configuration, however because of the vague error message, I had to search my rabbitmq logs to determine what was happening.

[2015-10-21 12:58] cFire opened #29 "Supported exchange types"
currently only exchange types accepted are direct, fanout and topic. Would very much like to see support for at least the headers exchange type and preferably also custom exchange types like x-consistent-hash and x-modulus-hash.

[2015-10-21 13:00] cFire commented on #29
Side note: This might also resolve/workaround issue #25 as they would be able to use the rabbitmq_sharding plugin.

[2015-10-21 13:07] cFire commented on #29
The actual definition looks to be done in the logstash mixin:
https://github.com/logstash-plugins/logstash-mixin-rabbitmq_connection/blob/master/lib/logstash/plugin_mixins/rabbitmq_connection.rb

Should I move this issue to that repo?

[2015-10-22 21:09] scbunn commented on #9
Still getting this error with Logstash 1.5.4-1 (official docker image).  Upgrading the plugin wants to use version 3.xx.  At this point this seems unusable to me and has halted my entire pipeline.

[2015-10-23 10:39] magnusbaeck opened #30 "Plugin can't be loaded from Logstash 1.5.4 and 2.0"
It seems the loading of the rabbitmq output plugin broke in Logstash 1.5.4 when the plugin was stepped to 1.1.0 (including a step-up of march_hare from 2.5.1 to 2.11.0), a problem that doesn't appear to be fixed in the Logstash 2.0 beta. Not sure if this is a problem with the plugin or with the Logstash's packaging of it.

    $ for i in logstash_{1.5.3,1.5.4,2.0}*.deb ; do

    ==================

[2015-10-23 10:41] purbon commented on #30
Thanks a lot for your report, will investigate.

[2015-10-23 17:46] andrewvc commented on #30
@magnusbaeck thanks for reporting this. I don't have the error on 1.5.4 (OSX + Downloaded zip), but I do have it on the latest 2.0RC. I'll be investigating this today:

[code]

[2015-10-23 18:10] andrewvc commented on #30
@magnusbaeck this has just been fixed and pushed as 3.0.5 from PR #31. Thanks for finding this bug!

[2015-10-24 15:38] magnusbaeck commented on #30
Thanks for the quick correction! Close the issue?

[2015-10-24 16:39] #30 closed

[2015-10-25 14:08] sardetushar commented on #28
i am facing same issue . .please guide me on this

[2015-10-25 19:47] magnusbaeck commented on #28
As @stwomack notes his problem with that he hadn't set the `vhost` parameter as was necessary. If this isn't the case for you, please ask on http://discuss.elastic.co and give more details (like your Logstash configuration and the full error message from Logstash).

[2015-10-26 21:18] ceeeekay opened #33 "Published gem not compatible with Logstash 2.0-rc1-1"
Logstash is unable to start when using RMQ output. Error reported is:

'plugin list' shows the plugin is present.
Installing logstash-output-rabbitmq manually completes successfully, but reports the same error on Logstash startup.

This problem has also been present with the previous 2.0 beta releases.

Can we please have a new gem pushed to fix this issue?

[2015-10-26 21:25] suyograo commented on #33
@ceeeekay we published a version with this fix already. You can update to it by `bin/plugin install --version 3.0.5 logstash-ouput-rabbitmq`. This will be in GA release of LS though

[2015-10-26 21:25] #33 closed

[2015-10-26 21:31] ceeeekay commented on #33
Thanks for the speedy response, however 'bin/plugin install --version 3.0.5 logstash-ouput-rabbitmq' results in

Is there something I'm missing?

[2015-10-30 13:27] mgsh commented on #30
[code]
I'm facing the same issue in output plugin version 3.0.5. Can you please let me know if I'm missing something here? This is on Ubuntu 14.04.3.

[2015-11-03 10:50] maxs commented on #29
I new to log stash and rabbitmq but need the support of headers exchange. Please advice if you has found something useful.

[2015-11-03 11:49] jakommo opened #35 "Fields are missing in rabbitmq with LS 2.0 (plugin version 3.0.5)"
With LS 2.0 and plugin version 3.0.5, only the message is pushed to rabbitmq but not the other fields.
In rubydebug the fields show up but are missing in rabbitmq.

Example config:

[code]

Example log line:

[code]

Payload in rabbitmq:
Loaded with 1.5.4 (plugin version 1.1.1)

[code]

Loaded with 2.0 (plugin version 3.0.5)

[code]

In both cases rubydebug is:

[code]

So the fields are parsed co

[2015-11-03 18:31] andrewvc commented on #35
@jakommo the issue here seems to be that before the default codec was JSON, and that no longer is the case. I do think we should fix this and restore the `json` codec.

A workaround for now would be to explicitly set the codec to `json`.

[2015-11-03 19:39] andrewvc commented on #35
Fixed by #36

[2015-11-03 19:39] #35 closed

[2015-11-25 21:32] ceeeekay opened #37 "RabbitMQ output + Compress spooler: “wrong number of arguments”"
I'm trying to use the compress spooler codec on a previously-working RMQ output (was working with Logstash 1.5.x), but encoding is failing with `Error encoding event {:exception=>#<ArgumentError: wrong number of arguments (1 for 2)> ... `.

I've stripped my config down to basic input/output and can reproduce it with the following:

It seems to be an interaction between rabbitmq and compress_spoole

[2015-12-08 14:54] mezzomondo commented on #30
Exactly the same issue also here:
[code]

[2015-12-09 23:51] jordansissel commented on #30
In Logstash 2.1.1, things are working for me:

[code]

^^ is the rabbitmq output being loaded successfully and failing config validation because of a missing  setting. Looks OK to me.

Can you try with Logstash 2.1.1?

[2015-12-10 10:21] mezzomondo commented on #30
I think I found the problem:

[code]

But:

[code]
So I should run it as root.

Thank you for your advice.

[2015-12-10 10:27] magnusbaeck commented on #30
That's an interesting observation, but it should of course work for non-root users as well.

[2015-12-10 15:57] andrewvc commented on #30
This seems like a weird file permissions error. @mezzomondo @magnusbaeck can you `ls -l`the rabbitmq plugin files?

Running this inside your plugin dir should give the correct output:
`find vendor/ | grep rabbitmq | xargs stat`

It looks to me that the issue is here: `16777220 30549407 -rw-r----- 1 andrewvc staff 0 417376 "Nov 26 06:48:58 2015" "Nov 24 06:42:21 2015" "Nov 26 06:49:00 2015" "Nov 24

[2015-12-10 16:12] andrewvc commented on #30
I've got a fix in here. https://github.com/logstash-plugins/logstash-mixin-rabbitmq_connection/pull/13 will update this thread when we release a new gem today.

[2015-12-10 16:38] mezzomondo commented on #30
@andrewvc same permissions here.

[2015-12-10 23:37] andrewvc commented on #30
I've released a new gem that should fix this @magnusbaeck @mezzomondo

[2016-01-21 21:50] jcollie opened #39 "Support TLS client certificates"
As in the RabbitMQ input plugin, the output plugin should supprt client certificates as well:

https://github.com/logstash-plugins/logstash-input-rabbitmq/issues/27

[2016-02-08 16:59] harvii opened #40 "Multiple connections created to Rabbitmq"
Hello,

When using Logstash 2.2.0, I've noticed that this output creates two connections to RabbitMQ (v3.5.6), this does not happen with Logstash 2.0.0.

Any idea what might be the cause? here's my configuration:

	rabbitmq {
		durable => true
		exchange => "logstash-exchange"
		exchange_type => "direct"
		host => "127.0.0.1"
		key => "logstash-key"
		password => "rabbit"
		persistent => true
		us

[2016-02-22 17:53] utilitynerd opened #41 "Logstash refuses to start when 3 or more rabbitmq outputs are used. (message=>"The error reported is: \n)"
logstash 2.2.2
logstash-output-rabbitmq (3.0.7)
##

After upgrading to logstash 2.2.0 and updating all plugins, my instance of logstash is refusing to start.

The logstash log only contains:
{:timestamp=>"2016-02-22T09:39:49.413000-0800", :message=>"The error reported is: \n  "}

Running config test yields:
[root@bombay conf.d]# service logstash configtest
The error reported is:

After spending so

[2016-02-24 16:31] andrewvc commented on #41
@utilitynerd thanks for reporting this, that shouldn't happen (obviously). Additionally this is tough to debug thanks to [bad error logging](https://github.com/elastic/logstash/pull/4717) in this case (no backtrace). I'll have to try and repro this with a debugger

[2016-02-25 11:24] harvii commented on #40
Well don't I feel silly, this was due to the pipeline changes in Logstash 2.2.0.

[2016-02-25 11:24] #40 closed

[2016-03-07 22:02] smetj commented on #25
@GlenRSmith The idea is good but you should use x-consistent-hash and x-modulus-hash exchanges instead which is already referenced in #29

[2016-03-22 15:00] jakauppila opened #42 "MarchHare::ChannelAlreadyClosed"
Recently upgraded to Logstash 2.2.2 which is using logstash-output-rabbitmq-3.1.4 and we are constantly seeing the following error in our logs:

`{:timestamp=>"2016-03-22T09:51:49.090000-0500", :message=>"MarchHare::ChannelAlreadyClosed", :exception=>MarchHare::ChannelAlreadyClosed, :backtrace=>["D:/Logstash/Logstash/vendor/bundle/jruby/1.9/gems/march_hare-2.15.0-java/lib/march_hare/exceptions.rb:

[2016-04-06 18:44] utilitynerd commented on #41
Any progress on this issue?

[2016-04-21 09:45] ifoo commented on #42
I have the same problem on logstash version 2.3.0 (logstash-output-rabbitmq: 3.0.9, march_hare: 2.15):

`{
        :timestamp=>"2016-04-21T09:58:47.824000+0200",
        :message=>"MarchHare::ChannelAlreadyClosed",
        :exception=>MarchHare::ChannelAlreadyClosed,
        :backtrace=>[   "/opt/logstash/vendor/bundle/jruby/1.9/gems/march_hare-2.15.0-java/lib/march_hare/exceptions.rb:121:in `conv

[2016-04-21 16:42] andrewvc commented on #42
Hmmm, this looks like an error with connection recovery. @Jakauppila @ifoo I assume this works correctly if Logstash is restarted?

I'll try to look into it ASAP.

[2016-04-21 16:46] ifoo commented on #42
Yes, @andrewvc , restarting logstash helps. Its surviving for some time (seconds to minutes) and then dies again. We have the same installation/configuration running on two different machines. On one of them we actually don't see this problem at all (same ELK versions, but a lot less events processed).

I'm not sure if we are using the same java version on those two installations. Would this info

[2016-04-21 17:00] Jakauppila commented on #42
@andrewvc Looking back in our logs, it looks like the errors went away when I configured a heartbeat on the output:
[code]

[2016-04-21 18:07] ifoo commented on #42
@Jakauppila Thanks for the hint with the heartbeat. I have it running now for some time and it looks like the error is gone. So, at least this works as a workaround.

[2016-04-21 18:47] andrewvc commented on #42
Thanks for chiming in @Jakauppila . I'm trying to repro this right now. I'm pretty sure the cause will turn out to be bad connection recovery.

I'm also thinking we should probably just default heartbeat to on. A 5 second heartbeat has basically no overhead.

[2016-04-21 19:27] andrewvc commented on #42
Hmmm, I can't repro this locally with:

[code]

then starting and stopping rabbitmq.

Can you guys repro this locally at all? I'm sure this is network related, but I can't repro this on my end, either going LS -> Rabbitmq or LS -> HAProxy -> Rabbitmq.

[2016-04-22 17:02] ifoo commented on #42
Unfortunately, the heartbeat did not fix the problem, it just postponed it. Seems like some sort of rabbitmq connection handling problem. In my case logstash and rabbitmq are both running on the same machine.

[2016-04-26 13:19] jsvd commented on #42
Is there any error on the rabbitmq-server logs that can help us debug this? The MarchHare::ChannelAlreadyClosed comes from a com.rabbitmq.client.AlreadyClosedException sent by the rabbitmq java client, and usually it comes with an explanation message such as:

[code]

Which, in this case, is odd as there's no useful message in the exception

[2016-04-26 13:23] jsvd commented on #42
The only way I can simulate a similar exception is by killing rabbitmq...in which I get:

[code]

Adding a bit more debugging to the code I get:

[code]

So it seems an EOF exception is being raised when trying to transmit to a closed channel.

Digging deeper..

[2016-04-26 13:53] jsvd commented on #42
I should not that in the scenario above, restarting rabbitmq makes logstash cleanly resume sending data. If the scenarios you see involve logstash either crashing or never resume sending messages again I might be on the wrong track here.

[2016-04-27 18:17] ifoo commented on #42
The logstash and rabbitmq are both running on the same machine. Rabbitmq was running all the time without downtime. I found a quite some of the following logs in the rabbitmq log file:

[code]

Those happen a few seconds before the logstash exceptions. After logstash is 'crashing' (the process actually doesn't stop) it is not recovering anymore.

[2016-04-28 08:41] jsvd commented on #42
@ifoo Can you provide the full configuration? is the events per second rate very high/very low?

[2016-04-28 11:15] ifoo commented on #42
@jsvd nothing special in the config. We are actually using a lot of different (also quite complicated) configs, but it is also happening for this specific, short example:

[code]

In terms of events per second, we have different logstash instances, with varying amounts of EPS. But it can get quite high (10 thousand events per second) per instance.

Logstash version: 2.3.0
RabbitMQ server version:

[2016-05-05 19:56] ifoo opened #44 "Is the :arguments option actually used in the plugin?"
I was currently testing the arguments option of the rabbitmq output plugin.

Specifically, i tried the 'x-max-length' option like this:

[code]

But after checking in the rabbitmq management interface the option doesn't seem to be honored. A quick check at the source code (https://github.com/logstash-plugins/logstash-output-rabbitmq/blob/master/lib/logstash/outputs/rabbitmq.rb and https://github.c

[2016-05-20 15:01] almaza commented on #42
Hi,

Did you find a fix for this issue?
I think I am meeting more or less the same issues while setting up CentOS 6 servers using:
logstash-2.3.2-1.noarch
java-1.8.0-openjdk-1.8.0.91-0.b14.el6_7.x86_64
rabbitmq-server-3.6.1-1.noarch

I get message=>"Pipeline aborted due to error" instead of your message=>"MarchHare::ChannelAlreadyClosed"
No filters in Logstash, only input from network and sending

[2016-05-30 19:26] wiibaa commented on #27
@michaelklishin can you please confirm this is superseeded by https://github.com/logstash-plugins/logstash-mixin-rabbitmq_connection/commit/d2821106b1235e2d04d576776d182a897e0b58af and can be closed

[2016-06-02 19:12] andrewvc commented on #29
@maxs @cFire this change has been merged in a while ago and should now work. Closing this issue.

[2016-06-02 19:12] #29 closed

[2016-06-06 16:55] CVTJNII opened #48 "Logstash messages are not persistent"
With Logstash 2.2.2 I'm noticing message loss when the Logstash input listeners are restarted.  Looking in the RabbitMQ management UI with the input listeners off I see none of the messages are marked as persistent:

![Uploading capture_window.1465224580.jpg…]()

Looking in the code this is unexpected, the persistent bit should be true by default:

https://github.com/logstash-plugins/logstash-outp

[2016-06-21 07:36] acchen97 opened #49 "Support for multiple hosts"
Support for specifying multiple hosts for a clustered/HA RabbitMQ deployment, i.e. an array of host values

Input request counterpart: https://github.com/logstash-plugins/logstash-input-rabbitmq/issues/77
Related to https://github.com/elastic/logstash/issues/2414

[2016-06-27 23:02] CVTJNII opened #51 "Allow custom exchange types"
It is possible to install other RabbitMQ exchange types via plugins.  An example of this is the [https://github.com/rabbitmq/rabbitmq-consistent-hash-exchange](x-consistent-hash exchange) which I wish to use with Logstash to help with performance problems caused by high logging throughput.  However, the output plugin validates the exchange type [at rabbitmq.rb line 31](https://github.com/logstash-

[2016-06-27 23:20] CVTJNII commented on #51
Looks like the mixin supports this type in 4.0 which is in the latest container.

[2016-06-27 23:20] #51 closed

[2016-07-15 17:51] ppf2 opened #52 "Output plugin not able to reconnect when RMQ returns"
Have 2 environments, 1 environment LS is able to reconnect when RMQ resumes service, another environment is not able to do so.

Reproducible steps in the problem environment:

- Ensure Logstash is stopped
- Ensure output is stopped (RMQ in this case)
- Start Logstash, wait for it to start logging about inability to connect to RMQ
- Make RMQ available again
- Logstash attempts to connect, but throw

[2016-07-15 18:55] andrewvc commented on #52
@michaelklishin are vhosts currently broken in `march_hare` and rabbitmq java?

Trying the following with v3.6.1 of the server on OSX I get:

[code]

thanks for the report @ppf2

[2016-07-15 19:00] andrewvc commented on #52
OK the issue here is that we ran into https://github.com/rabbitmq/rabbitmq-java-client/issues/100 which apparently will not be fixed due to a deficiency of the AMQP protocol.

It seems that the user in question does not have perms for the vhost in question.

[2016-07-15 19:01] andrewvc commented on #52
Since this is marked wontfix on the java client there isn't anything we can do here, closing the ticket.

[2016-07-18 23:52] jordansissel commented on #52
I think I have an idea how to fix this. PR coming shortly.

[2016-07-18 23:59] jordansissel commented on #52
https://github.com/logstash-plugins/logstash-mixin-rabbitmq_connection/pull/26 filed for this.

I am not sure how to reproduce this problem, but I believe my PR should fix it by causing `connect!` to retry when IOException is thrown.

[2016-08-30 13:51] skokhanovskiy commented on #39
That fact is surprised me. +1, of course.

I had to use rabbitmq shovel plugin instead.

[2016-09-29 09:21] orinciog commented on #49
Hi,

I ran into the same problem today.
Currently we publish messages using logstash from a single input source to a single rabbitmq host, but it seems that a single connection can't handle the traffic, so we wanted to have multiple hosts to load balance the messages.

Unfortunately, right now it's not possible with the current version of rabbitmq output.

Thank you.

[2016-10-26 16:37] andrewvc commented on #52
Fixed with @jordansissel 's fix + the most 4.20 release of the connection mixin

[2016-10-26 16:37] #52 closed

[2016-11-10 18:59] Akshaykapoor commented on #10
Im still facing this issue, and when this happens logstash essentially halts the entire pipeline. Only way I've got it to work is by restarting the service.

[code]

I'm using logstash v 2.3.1. I should also mention, there are no issues in elasticsearch logs when this happens.

[2016-12-31 10:28] kavat opened #55 "Connection unrecoverables after RabbitMQ server restart"
Hi,
we restarted our rabbitmq server for a maintenance and logstash clients started to write in the log file this string:

[2016-12-30T13:42:32,108][ERROR][logstash.outputs.rabbitmq] Error while publishing. Will retry. {:message=>"#method<connection.close>(reply-code=320, reply-text=CONNECTION_FORCED - broker forced connection closure with reason 'shutdown', class-id=0, method-id=0)", :exception=>

[2016-12-31 10:33] kavat commented on #55
Another thing that I observed was the name of directory of march_hare.
I understood about this that it is the client used from logstash-output-rabbitmq to connect to rabbitmq.
On the servers with logstash that they are not able to reconnect the plugin seems has name march_hare-2.20.0-java, on a server windows 2012 R2 that was able to reconnect was called march_hare-2.15.0-java.
I don't know if thi

[2017-01-02 19:40] kavat commented on #55
Hi,
can anyone help us please?

[2017-01-03 15:00] andrewvc commented on #55
@kavat it looks like you shutdown your rabbitmq cluster with rabbitmqctl. Is that correct? Did the error message ever go away?

[2017-01-03 15:48] kavat commented on #55
Hi @andrewvc ,
I restarted my RabbitMQ with reboot command.
I continued see the error until I restarted logstash service.
Why has not logstash client retried the connection and it has entered into this error log infinite loop?

[2017-01-04 20:06] kavat commented on #55
Hi @andrewvc,
In the next days we have to restart out rabbitmq server and we are worried about this.
Have my informations helped you in your analysis? Have you got any news?
Sorry but we need a urgent fix or workaround.

[2017-01-06 10:24] C-Duv commented on #6
I guess message headers could be added at the same time ;)

[2017-01-09 19:52] kavat commented on #55
Any news?

[2017-01-10 15:44] andrewvc commented on #55
@kavat AFAIK `rabbitmqctl` has no `reboot` command, you can stop and start it. I assume you're using an init script?

At any rate, I just tested it with a manual start and a `rabbitmqctl stop` and everything worked great.

The logstash config I used was: `bin/logstash -e "input { stdin {} } output { rabbitmq { exchange => foobar exchange_type => fanout host => localhost} }"`

I'll need a detailed

[2017-01-10 16:05] kavat commented on #55
I've reboot the entire linux server rabbitmq, with the command via ssh reboot.
The server went down and the client started to write in log

[2016-12-30T13:42:32,108][ERROR][logstash.outputs.rabbitmq] Error while publishing. Will retry. {:message=>"#method<connection.close>(reply-code=320, reply-text=CONNECTION_FORCED - broker forced connection closure with reason 'shutdown', class-id=0, method-id=

[2017-01-10 16:32] andrewvc commented on #55
@kavat I already tried rebooting the server, didn't get the same error. What you've submitted is not a sufficient test case.

If you can create a VM image that demonstrates this effect I'd be glad to take a look.

[2017-02-09 04:49] andrewvc commented on #42
This should have been fixed by https://github.com/logstash-plugins/logstash-mixin-rabbitmq_connection/pull/32 which was released long ago , is that the case @almaza and @Jakauppila ?

[2017-02-09 05:12] Jakauppila commented on #42
I'm actually still on the same version of Logstash right now (2.2.2) so I'll try updating to a later version to see if this does in fact go away.

[2017-02-09 08:45] almaza commented on #42
I also reverted to an earlier version that worked but are going to try the v5.x Logstash when time permits.

[2017-02-09 17:35] andrewvc commented on #42
@ifoo , has this problem disappeared for you in recent versions?

[2017-04-18 21:07] sxmichael commented on #44
i was also curious about it. arguments and passive options are queue-specific, though no queue name could be provided and no queue-specific logic exists not in output nor in plugin. from the history, it seems that both options was created on initial commit of the mixin (https://github.com/logstash-plugins/logstash-mixin-rabbitmq_connection/pull/1/files#diff-5a4e6da9864c64f906837378a6f551e6R56) whi

[2017-04-19 00:47] andrewvc commented on #44
Apologies here, this seems to have just been an artifact of that being legacy code. I'll try and take a look at it this week.

[2017-05-11 19:29] conzyor34 commented on #42
Hello, I just witnessed this behavior in Logstash 5.2.2. The RabbitMQ output encountered an IO error communicating with the broker and the reconnect logic did not reconnect properly. After restarting Logstash it reconnected immediately with no problems.

[code]

I believe this is the corresponding disconnect message from RabbitMQ, a few minutes before the errors above. We are in CDT time zone and

[2017-05-11 19:41] andrewvc commented on #42
@conzyor34 thanks for the report.

@michaelklishin do you think its possible that march hare 3.0.0 might fix this?

@conzyor34 you can try the newest version with the `3.0.0` march hare library by running `logstash-plugin update logstash-input-rabbitmq logstash-output-rabbitmq`. Most of the retry logic is in march hare / the rabbitmq java library, so perhaps there's a fix there for this.

[2017-05-11 19:44] andrewvc commented on #42
I'm wondering now if we just can't rely on the library for this stuff and need to catch these errors and reopen the connection.

I'm starting to lean toward that at the moment.

[2017-05-11 20:09] andrewvc opened #60 "Plugin should rescue broken channels better"
Ever since this plugin switched to automatic recovery we've found situations where the automatic recovery wasn't so automatic, as in https://github.com/logstash-plugins/logstash-output-rabbitmq/issues/42#issuecomment-300896779 . We should just rescue and manually reset in those cases.

[2017-05-19 17:19] robbavey commented on #60
Looked into this briefly - tried to reproduce by throwing https://github.com/Shopify/toxiproxy into the mix to simulate network badness, but no dice. Putting on hold for now, will pick up at a later date

[2017-05-19 19:28] andrewvc commented on #42
We've taken a look at this in https://github.com/logstash-plugins/logstash-output-rabbitmq/issues/60

It's a tricky situation. We're trying to decide what to do here, since we can't repro it. Adding code for an unreproducible situation is hard to maintain. We're currently deliberating on this.

[2017-06-06 08:44] Woudan commented on #44
Is there a fix in progress for this issue?

[2017-07-06 14:23] Woudan opened #64 "Pipeline doesn't start if logstash can't connect to rabbitmq"
Pipeline does not start and keeps flushing when it can't connect to a rabbitmq node that is configured in the pipeline. It should just create the pipeline and keep trying to connect every retry interval.

In my case we have multiple (+10) remote rabbitmq instances that could be down when starting logstash. See the debug output file for more info.

- Version:
logstash 5.3.0
logstash-output-rabbitmq

[2017-07-06 18:36] alfsolli opened #65 "Payload value?"
Hi.

I'm trying to get logstash to post to a specific topic (routing key) and a specific payload.
Topic works fine, no problem.

But the payload starts with "2017-07-06T18:30:44.559Z %{host}......."

I've tried mutate and replace message field with the value, and that's what comes after {host} in the above example. Is there a way to remove the timestamp and host variable and only have a single fie

[2017-07-07 14:43] #60 closed

[2017-07-07 15:31] robbavey commented on #64
Hi @Woudan Thanks for submitting this - I was wondering if we could get more information about your setup.

- I am assuming that you mean logstash 5.3.0 rather than 6.3.0.
- Can you send the full config file, including how you handle all the rabbitmq instances (please redact any information that may be sensitive).
- Is the behaviour you are seeing in Logstash that the Logstash instance crashes, or

[2017-07-07 18:36] Woudan commented on #64
Hi @robbavey,

- Ofcourse i mean 5.3.0
- [logstash_config.txt](https://github.com/logstash-plugins/logstash-output-rabbitmq/files/1131556/logstash_config.txt)

The main issue is that rabbitmq output does try to reconnect but it fully blocks my pipeline. All the other rabbitmq input connections won't go up either. When I remove the rabbitmq server that is down the full pipeline works just fine.

So

[2017-07-07 19:20] andrewvc commented on #64
@Woudan the best practice here is to buffer those messages somewhere and use a second pipeline to send them to rabbitmq from that buffer. Today that means running two LS instances, but we're working on a multi-pipeline feature that will make that much easier in 6.0 (it's already in the alphas).

The easiest way to do that today would be to replace the rabbitmq output in your current config, and us

[2017-07-10 17:37] Woudan commented on #64
@andrewvc, thanks for the information and explanation. That makes sense.

I'm going to try your setup and check if it makes more sense to build something myself, use you're solution or going to do some beta 6.0 testing.

[2017-07-10 17:37] #64 closed

[2017-07-17 03:18] jordansissel commented on #65
This is probably best a question for https://discuss.elastic.co/

[2017-11-06 11:23] jsvd commented on #42
due to lack of new information and reproducibility, I'm closing this and we can reopen if new cases are observed.

[2017-11-06 11:23] #42 closed

[2018-02-25 14:38] LeonardoBonacci commented on #6
Hello,

I'm currently implementing spring cloud's Sleuth and Zipkin.
https://spring.io/blog/2016/02/15/distributed-tracing-with-spring-cloud-sleuth-and-spring-cloud-zipkin

Tracing information of RabbitMQ communication between Spring Micro Services comes out of the box.
However, in the center of my application I use LogStash with its RabbitMQ input and out plugin.
Unfortunately, here tracing becom

[2018-03-06 09:01] duylong opened #73 "Short string too long; utf-8 encoded"
Hi,

I have a issue that is blocking my Logstash. Here are the logs before it dies:

[code]

- Version: Logstash 6.2.2
- Operating System: RHEL7
- Config File:

[code]

- Steps to Reproduce: I don't known

Do you know this issue ? Is there a way to avoid blocking the Logstash?

[2018-03-09 08:58] C-Duv opened #74 "Supports friendly connection name when connecting to RabbitMQ server?"
Since rabbitmq/rabbitmq-server#104, RabbitMQ clients can pass a "friendly connection name" to the server when connecting.
This is not a reliable identifier but is shown in the server's management web interface and can serve for debugging.

I tried the following that uses the `arguments` parameter without success (data is sent to RabbitMQ, I can see the client in the RabbitMQ administration page bu

[2018-03-13 20:45] jakelandis commented on #74
It looks like maybe https://github.com/logstash-plugins/logstash-output-rabbitmq/issues/44 is the root problem here, and I believe the fix for that (and this) If I am reading the corresponding issues correctly...  the fix is likely needed in https://github.com/logstash-plugins/logstash-mixin-rabbitmq_connection project.

@C-Duv - if you agree that this needs to be set on the connection object, and

[2018-03-14 00:47] C-Duv commented on #74
Being a connection parameter and for both input and output plugin, you are right: it shoud indeed be on _logstash-plugins/logstash-mixin-rabbitmq_connection_. I'll re-open there.

[2018-03-14 00:47] #74 closed

[2018-04-23 13:24] balooka opened #75 "cannot use an exchange with specific properties"
Please post all product and debugging questions on our [forum](https://discuss.elastic.co/c/logstash). Your questions will reach our wider community members there, and if we confirm that there is a bug, then we can open a new issue here.

For all general issues, please provide the following details for fast resolution:

- Version: 4.0.11
- Operating System: Linux - CentOS

Issue description: Plugi

[2018-04-26 05:11] joshuar opened #76 "Not respecting `port` parameter?"
- Version: logstash-output-rabbitmq (5.1.1)
- Operating System: Linux (Fedora 27)
- Config File (if you have sensitive info, please remove it):

[code]

- Sample Data: N/A
- Steps to Reproduce:

I'm starting up a test RabbitMQ install with:

[code]

Note that I'm using a custom port, 35007.  When I start Logstash with the above configuration, it still tries to connect on port 5672:

[code]

Am I m

[2018-04-30 10:58] jsvd commented on #76
This seems to be the way the underlying library we use (march_hare) works: if you specify a list of hosts then the port option is ignored. However in this plugin we always pass a list, even if it's a list of 1, so the port is always ignored...

We should likely just remove this port option. Currently the users can pass a list of "host" strings when the port is 5672, or "host:port" strings when the

[2018-04-30 23:18] joshuar commented on #76
Ah cool!  Thanks @jsvd!  I didn't realise a `host:port` combo would work as well. That works for me. The doc examples are all just host strings.  So possibly a doc update as well required?

[2018-07-18 07:11] BBQigniter opened #77 "better error-message needed"
I now searched for hours for an error in one of my pipeline configs using the rabbitmq-output plugin, always wondering why I got following error:

`[ERROR][logstash.outputs.rabbitmq] RabbitMQ connection error, will retry. {:error_message=>"Connection to localhost:5672 failed", :exception=>"MarchHare::ConnectionRefused"}`

I also reconfigured rabbitmq-server to listen on localhost - but nothing hel

[2018-12-12 17:10] gbroten-diitalk commented on #75
I've encountered the exact same problem. I have configured rabbitmq to support alternate exchanges, but logstash  doesn't support arguments on exchanges. FYI, this only becomes apparent by looking at the logstash rabbitmq plugin code, the logstash documentation specifies that is does:

[2019-01-23 13:48] seandilda commented on #76
There's a known issue with march_hare (https://github.com/ruby-amqp/march_hare/issues/133) that causes ```localhost:5672``` to always show up in connection errors, even if that's not where its connecting.

If anyone else sees this, ignore the error message and use tcpdump to verify the traffic is going where you want.

[2019-02-15 14:07] wolf4ara opened #81 "add parameter truststore and keyStore"
Please post all product and debugging questions on our [forum](https://discuss.elastic.co/c/logstash). Your questions will reach our wider community members there, and if we confirm that there is a bug, then we can open a new issue here.

For all general issues, please provide the following details for fast resolution:

- Version: 6x
- Operating System: Centos7
- Config File (if you have sensitive

[2019-03-10 12:26] prcongithub commented on #42
I am facing similar issue with MarchHare and RabbitMQ:
JRuby: 9.2.6.0
Java: openjdk version "1.8.0_201"
MarchHare: 3.1.1
RabbitMQ: 3.7.12 docker image
Error StackTrack:
I think its attempting one re connection and failing after that.
[code]

RabbitMQ Logs
[code]

[2019-04-08 18:01] ashfaqemrul opened #82 "Unable to use logstash output rabbitmq plugin"
- Version: logstash 6.7
- Operating System: Linux
- Config File (if you have sensitive info, please remove it):
- Sample Data:
- Steps to Reproduce:

output {
  rabbitmq {
    id => "file.atlas.metrics.all"
    host => "host.url.com"
    port => 3030
    exchange => "mq.rabbit.exchange.metrics"
    exchange_type => "direct"
    vhost => "vhost.rmq"
    user => "rmq.user"
     password => "password

[2019-04-08 21:34] ashfaqemrul commented on #82
host => "host-url:port", i don't know why the documentation is not updated. this is frustrating.. i spend entire day to find this problem.

[2019-04-08 21:34] #82 closed

[2019-04-18 18:42] vanbcguy commented on #75
This affects me too... I can't use RabbitMQ to route messages as I can't specify an alternate-exchange the way things are currently written.

[2019-04-25 21:45] yaauie opened #85 "Output does not respect blocked connections."
When a connection is blocked (e.g., RabbitMQ is unable or unwilling to consume from the underlying TCP stream), the connection is flagged and the client is notified.

March Hare allows producers to subscribe to `blocked` and `unblocked` notifications, allowing the application to apply back-pressure _before_ appending the messages to the TCP stream.

Example here: https://github.com/ruby-amqp/march

[2019-04-29 21:23] yaauie commented on #85
March Hare allows us to hook into change-state notifications for a connection's blocked status, but at this point I cannot find a way for this to work along-side automatic connection recovery, which is enabled by default in this plugin.

My plan of attack was to create a blocking [`BackPressureProvider`](https://gist.github.com/yaauie/d56515e41050e83fb3cc9692268055a7) backed by a state machine, wi

[2019-05-10 12:02] jack161641 opened #86 "why "Unknown setting 'queue' for rabbitmq""
Please post all product and debugging questions on our [forum](https://discuss.elastic.co/c/logstash). Your questions will reach our wider community members there, and if we confirm that there is a bug, then we can open a new issue here.

For all general issues, please provide the following details for fast resolution:

- Version:5.1.1
- Operating System:centos 7.2
- Config File (if you have sensi

[2019-06-10 18:52] vanbcguy commented on #85
Anything happening on this? We're experiencing data loss on a regular basis due to this problem.

[2019-07-12 19:47] mikearruda commented on #76
@jsvd  Thank you so much! "host:port" is working for me now.

[2019-09-13 16:54] colinsurprenant opened #89 "march_hare 4.0.0 and 4.1.0 bug crashes plugin"
In the latest march_hare versions 4.0.0 and 4.1.9 a bug was introduced in https://github.com/ruby-amqp/march_hare/blob/v4.0.0/lib/march_hare/session.rb#L91 (`opts` is undefined) which crashes the plugins like this

[code]

Relevant bit is
[code]

[2019-09-13 17:04] colinsurprenant commented on #89
submitted PR upstream https://github.com/ruby-amqp/march_hare/pull/145

[2019-09-16 16:50] michaelklishin commented on #89
March Hare `4.1.1`  includes the  above PR. Thank you for contributing!

[2019-09-19 20:56] colinsurprenant commented on #89
Thanks @michaelklishin for your help with this.

To pick up the new `march_hare` version 4.1.1, a simple plugin update should do the trick. For example, with versions verifications, from logstash home:
[code]

Closing.

[2019-09-19 20:56] #89 closed

[2019-10-10 07:00] Ricaz commented on #76
I had the same problem with the RabbitMQ input plugin because I had forgotten to specify `ssl => true`. It would fail to initiate a handshake, but the logs only stated it failed to connect to the default address (`localhost:5672`, not `mq.example.org:5671` as I specified).

[2019-11-20 22:27] telune commented on #85
Hi @yaauie, I see the issue you opened on the march_hare repo has been closed and, as far as I can tell, included in version 4.0.0. Does this mean that the Logstash RabbitMQ output plugin can now correctly handle blocked connections? Or do we need to wait for it to include version 4.0.0 of March Hare?

This issue is relevant for my use case, so I'd like to know if there's any advancement on this.

[2019-11-21 19:40] vanbcguy commented on #85
The update fixed everything for us; RabbitMQ memory use has been drastically reduced and it now seems to handle blocked connections properly. If you run the logstash plugin update it'll say that it hasn't been updated, but it has actually updated the underlying libraries.

[2019-11-22 01:42] yaauie commented on #86
In RabbitMQ, messages are published to an _exchange_, not to a specific _queue_.

Because there is no way for a publisher to publish messages to a specific queue, that is not an option that the RabbitMQ Output Plugin presents; supplying a value here doesn't make sense.

[2019-11-22 01:42] #86 closed

[2019-11-22 01:46] yaauie commented on #85
While the underlying libraries have been improved, the fix to actually hook into connection blocked notifications was shipped with the [RabbitMQ Integration Plugin v7.0](https://github.com/logstash-plugins/logstash-integration-rabbitmq/blob/v7.0.0/CHANGELOG.md).

If you cannot run Logstash 6.5+ (which is required for integration plugins), please re-open or comment and I'll work to figure out a bac

[2019-11-22 01:46] #85 closed

[2019-11-22 09:02] telune commented on #85
Cool, I wasn't aware of the integration plugin! We are using Logstash 6.8.2, so we'll just need to install the `logstash-integration-rabbitmq` plugin, right? Will it be shipped by default in some future version of Logstash?

[2019-12-22 11:45] rafiifar commented on #65
I know that it is a bit old thread but i got there while searching for how to format logstash output in rabbitmq output plugin. To get only message value in payload you have to add format option to the codec as shown in the example below.
[code]

[2020-07-08 17:18] #28 closed

[2020-09-21 22:55] RDAguirre commented on #42
I am experiencing this as well:  [2020-09-21T15:51:38,297][ERROR][logstash.outputs.rabbitmq] Error while publishing. Will retry. {:message=>"MarchHare::ChannelAlreadyClosed", :exception=>MarchHare::ChannelAlreadyClosed, :backtrace=>["/apps/opt/mw/logstash-7.1.1/vendor/bundle/jruby/2.5.0/gems/march_hare-3.1.1-java/lib/march_hare/exceptions.rb:121:in `convert_and_reraise'", "/apps/opt/mw/logstash-7.

[2020-09-23 12:50] michaelklishin commented on #42
A channel can be closed due to a [channel exception](https://www.rabbitmq.com/channels.html#error-handling) such as a failed [topology equivalence check](https://www.rabbitmq.com/queues.html#property-equivalence). They will be easy to spot in [server logs](https://www.rabbitmq.com/logging.html).

[2020-11-19 16:24] Ghaithjemai commented on #55
I'am having the same error logstash can't recover rabbitmq connection after restarting rabbitmq-server

RabbitMQ connection was closed! {XXXX} :automatic_recovery=>true, :cause=>com.rabbitmq.client.ShutdownSignalException: connection error; protocol method: #method<connection.close>(reply-code=320, reply-text=CONNECTION_FORCED - broker forced connection closure with reason 'shutdown', class-id=0,

[2021-03-10 13:12] Ricaz commented on #44
This is turning into a long week..

[2022-01-11 01:52] #41 closed